
/bin/tmp
/modules
/model
/src
/bin
/classes
/test-classes
*.class

/test-result
/logs
/eclipse
.project
.classpath
.settings/
.ides/

.idea/
node_modules/
package.json
gulpfile.js
yarn.lock
/lib/
/bin/
app/models
app/utils
app/base
app/META-INF
app/exceptions

/tmp/