/*/tmp/*
/bin/tmp
/modules
/bin
/classes
/test-classes
*.class
*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/*/build
.gradle*
/captures
.externalNativeBuild
.idea*
/library/build
out/*
